.calculator {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.calculator-header {
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.history-icon {
    font-size: 24px;
    cursor: pointer;
}

.calculator input {
    grid-column: span 5;
    height: 50px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.calculator button {
    height: 50px;
    font-size: 18px;
    background: var(--button-bg);
    border: 1px solid var(--button-border);
    border-radius: 5px;
    cursor: pointer;
    color: var(--button-text);
}

.calculator button:hover {
    background: var(--button-hover-bg);
}

.degree-radian-toggle {
    display: flex;
    flex-direction: column;
}

.degree-radian-toggle .toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    margin: 2px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.degree-radian-toggle .active-btn {
    background-color: #4CAF50; /* Green for active */
    color: white;
}

.degree-radian-toggle .inactive-btn {
    background-color: var(--button-bg-inactive);
    color: var(--button-text-inactive);
}

#formatted-display {
    grid-column: span 5;
    height: 25px; /* Half of the original display height */
    text-align: right;
    font-size: 12px;
    padding: 5px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--input-text);
    margin-bottom: 5px;
    overflow-x: auto;
}

#fractionBut {
    font-size: 18px;
}

/* History styles */
.history {
    display: none;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.history h3 {
    margin-bottom: 10px;
    text-align: center;
}

.history ul {
    list-style-type: none;
    padding: 0;
}

.history ul li {
    padding: 5px;
    border-bottom: 1px solid var(--input-border);
}

/* Light mode variables */
body.light-mode {
    --input-border: #ccc;
    --input-bg: #fff;
    --input-text: #000;
    --button-bg: #f0f0f0;
    --button-border: #ccc;
    --button-text: #000;
    --button-hover-bg: #e0e0e0;
    --button-bg-inactive: #d3d3d3;
    --button-text-inactive: #555;
}

/* Dark mode variables */
body.dark-mode {
    --input-border: #555;
    --input-bg: #333;
    --input-text: #fff;
    --button-bg: #444;
    --button-border: #555;
    --button-text: #fff;
    --button-hover-bg: #555;
    --button-bg-inactive: #555;
    --button-text-inactive: #aaa;
}
