<div class="unit-converter">
    <h2>Converter Calculator</h2><br>
    <select id="converter-type" onchange="loadConverter()">
        <option value="null" disabled selected>Select Converter</option>
        <option value="base">Base Converter</option>
        <option value="length">Length Converter</option>
        <option value="mass">Mass Converter</option>
        <option value="temperature">Temperature Converter</option>
        <option value="angle">Angle Converter</option>
        <option value="time">Time Converter</option>
        <!-- Add more converter types as needed -->
    </select>
    <div id="converter-fields">
        <!-- Converter fields will be dynamically loaded here -->
    </div>
</div>
