.calculator {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator h1 {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}