.top{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 22, 126);
    padding: 10px;
    height: 40px;
}
.dropbtn {
    margin: 5px;
    background-color: #434347;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #100d0d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #605d5d;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #262826;
}
.main-header{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(55, 55, 72);
}
.footer-content{
    color: aliceblue;
    background-color: rgb(55, 55, 72);
    display: inline-block;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    height: 60px;
}
.email{
    width: 30px;
}
.footer-element{
    text-decoration: none;
    float: left;
    margin-left: 16.66%;
}
.footer-element2{
    text-decoration: none;
}
.main-content{
    background-color: rgb(238, 254, 254);
    height: 75vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.cover {
    position: relative;
    width: 100%;
    height: 75vh;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}
.logo{
    margin-top: 5px;
    margin-left: 5px;
}

