* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

.top{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #123456;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.dropbtn {
    margin-left: 10px;
    background: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.top-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #100d0d;
    top: 60px;
    right: 10px;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #605d5d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #262826;
}

.main-content{
    background-color: #f5f7fa;
    min-height: 75vh;
}

.main-header{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: #0a1931;
    font-size: 24px;
}

.background-img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #123456;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.logo{
    height: 50px;
}

.footer-content{
    padding: 20px;
    color: #ffffff;
    background-color: #0a1931;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
}

.email{
    width: 30px;
}

.footer-element{
    text-decoration: none;
    float: left;
    margin-left: 16.66%;
}

.footer-element2{
    text-decoration: none;
}