.scientific {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.scientific h1 {
    grid-column: span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}