.derivative-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--converter-bg);
    color: var(--converter-text);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

.derivative-calculator input, .derivative-calculator button {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.derivative-calculator button {
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
}

.derivative-calculator button:hover {
    background-color: var(--button-hover-bg);
}

#plot {
    width: 100%;
    height: 400px;
}

.result-fieldset {
    width: calc(100% - 20px);
    max-width: 500px; /* Ensure a maximum width for better UI */
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--input-text);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text horizontally */
    height: 80px; /* Adjust the height as needed */
    position: relative; /* To position legend correctly */
}

.result-fieldset legend {
    font-size: 14px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--input-bg);
    color: var(--input-text);
}

.result-fieldset input {
    width: 90%;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: inherit;
    text-align: center;
    outline: none; /* Remove outline to match the fieldset */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%; /* Adjust the height as needed */
    box-sizing: border-box;
    color: red;
}

/* Light Mode Theme */
body.light-mode {
    --converter-bg: #fff;
    --converter-text: #000;
    --input-bg: #fff;
    --input-text: #000;
    --input-border: #ccc;
    --button-bg: #f0f0f0;
    --button-text: #000;
    --button-hover-bg: #e0e0e0;
}

/* Dark Mode Theme */
body.dark-mode {
    --converter-bg: #333;
    --converter-text: #fff;
    --input-bg: #333;
    --input-text: #fff;
    --input-border: #555;
    --button-bg: #444;
    --button-text: #fff;
    --button-hover-bg: #555;
}
